@import "base/_variables.scss";
@import "base/_mixins.scss";

/*==================================
FONTS
==================================*/

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, p, h1, h2, h3 {
	font-family: sans-serif;
    color: $black;
}

body {
    font-family: 'LouizeDisplayNP', serif;
}

body, p {
	font-size: 16px;
	font-weight: 300;
}

p {
	margin: 0px 0px 20px;
    font-family: 'eb garamond', serif;
}

/*=== Headline font on case study pages ===*/

h1 {
	font-size: 50px;
	font-family: 'LouizeDisplayNP', serif;
    letter-spacing: .03em;
	text-transform: uppercase;
    line-height: 50px;
    margin: 0px 0px 20px;
    font-weight: 300;

    @include tablet {
        font-size: 34px;
        line-height: 34px;
    }

    @include mobile_landscape {
        font-size: 30px;
        line-height: 30px;
    }
}

/*=== Primary headline font used across the site ===*/

h2 {
	font-size: 25px;
	line-height: 25px;
	font-family: 'LouizeDisplayNP', serif;
    letter-spacing: .03em;
	margin: 0px 0px 20px;
	text-transform: uppercase;
    font-weight: 300;

    @include mobile_landscape {
        font-size: 20px;
        line-height: 20px;
    }
}

/*=== Headline font used in the default page templates. Not uppercase ===*/

h3 {
	font-size: 28px;
    line-height: 35px;
	font-family: 'LouizeDisplayNP', serif;
    letter-spacing: .03em;
	font-weight: 300;
	margin: 0px 0px 20px;

    @include mobile_landscape {
        font-size: 20px;
        line-height: 25px;
    }
}

a {
    outline: 0;
    text-decoration: none;
    font-size: inherit;
    color: $grey;
    font-family: inherit;

    &:visited, &:focus, &:active {
        outline: 0;
    }

    &:hover {
        text-decoration: underline;
        color: $black;
    }
}

/*==================================
COMPONENTS
==================================*/

/*=== Lists ===*/

ul {
	margin: 0px;
	padding: 0px;
}

/*=== Overlay ===*/

.jl_overlay_container {
    position: relative;
}

.jl_overlay_container a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.jl_overlay {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(255,255,255,.8);
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity .1s ease-in-out;

    h2 {
        margin: 0px 0px 5px;
    }

    span.category {
        text-transform: uppercase;
        font-size: 14px;
    }
}

.jl_overlay:hover, .jl_overlay:focus, .jl_overlay:active, .jl_overlay.hover_effect {
    opacity: 1;
}

/*=== Don't show overlay on Press pieces ===*/

.press .jl_overlay:hover {
    opacity: 0;
}

/*=== Image w/ Caption ===*/

figure {
    margin: 0px;
}

.wp-caption {
    margin-bottom: 0px;
}

.wp-caption .wp-caption-text {
    margin: 10px 0px 0px;
    text-align: left;
    color: $grey;
}

/*=== Button ===*/

button {
    letter-spacing: .07em;
}

/*==================================
HELPERS
==================================*/

/*=== Font ===*/

.font_normal {
    text-transform: none;
}

.uppercase {
    text-transform: uppercase;
}

/*=== Alignment ===*/

.center {
	text-align: center;
    display: block;
}

/*=== Padding & Margins ===*/

.padding-bottom50 {
    padding-bottom: 50px;
}

.margin-bottom0 {
   margin: 0px 0px 0px;
}

/*=== Colors ===*/

.black {
    color: $black;
}

.grey {
    color: $grey;
}

/*==================================
GRID
==================================*/

/*=== Rows ===*/

.jl_row {
    display: flex;
    flex-flow: row wrap;
    margin: 0px -10px 20px;

    @include tablet {
        margin: 0px 0px 50px;
    }
}

.jl_image_row {
    margin-bottom: 80px;

    img {
        display: block;
        width: 100%;
    }

    @include tablet {
        margin-bottom: 50px;
    }
}

.jl_center_text_row {
    max-width: 800px;
    margin: 0 auto 80px;

    @include tablet {
        margin: 0 auto 50px;
    }
}

/*=== Mobile Column Adjustment ===*/

/* .jl_row .jl_half:last-child {
    @include tablet {
        margin: 0px;
    }
} */

/*=== Columns ===*/

.jl_half {
    width: 50%;
    padding: 0px 10px;

    @include tablet {
        width: 100%;
        padding: 0px;
        margin: 0px 0px 20px;
    }
}

.jl_text_half {
    width: 50%;
    margin: 0px 0px 10px;
    padding: 0px 80px 0px 10px;

    @include tablet_landscape {
        padding: 0px 10px;
    }

    @include tablet {
        width: 100%;
        padding: 0px;
        margin: 0px 0px 50px;
    }
}

/*==================================
OVERALL STRUCTURE
==================================*/

#content .main_wrapper {
    margin-top: 130px;

    @include tablet {
        margin-top: 110px;
    }
}

// Change content positioning if there is a header image or video

.header_image #content .main_wrapper {
    margin-top: 80px;
}

// Page Structure

.page_content {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}

.flex_container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 50px;
}

.flex_container_grid {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0px -10px 50px;

    @include mobile_landscape {
        margin: 0px 0px 50px;
    }
}

/*==================================
MAIN NAVIGATION
==================================*/

.site_header {
	width: 100%;
    position: fixed;
    top: 0;
    height: 100px;
    z-index: 10;
    display: flex;
    align-items: center;
    background: white;
    transform: translateY(0px);
    transition: all .3s ease-in-out;

    @include tablet {
        display: none;
    }

    &.scroll_down {
        transform: translateY(-100px);
    }
}

nav.main_navigation {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
    display: block;
    overflow: auto;
    padding: 50px 0px;
}

.logo {
    float: left;
    width: 30%;
    position: relative;
    display: block;

    a {
        position: relative;
        width: 180px;
        height: 16px;
        display: block;
    }

    img {
    	position: absolute;
        display: block;
    }
}

ul#primary-menu {
    float: right;
    text-align: right;
    width: 70%;
    list-style-type: none;

    li {
    	display: inline-block;
    	padding: 0px 15px;

    	a {
    		text-decoration: none;
    		color: $black;
    		font-family: 'LouizeDisplayNP', serif;
            letter-spacing: .07em;
    		font-size: 14px;
    		text-transform: uppercase;

            &:hover {
                border-bottom: 1px solid;
            }
    	}

        @include tablet_landscape {
            padding: 0px 8px;
        }
    }
}

ul#primary-menu li:last-child {
    padding: 0px 0px 0px 15px;
}

ul#primary-menu li.current_page_item a {
	border-bottom: 1px solid;
}

ul#primary-menu li.menu-item-171 a {
    border-bottom: 0;
}

/*==================================
MOBILE HEADER
==================================*/

.mobile_header {
    position: fixed;
    top: 0;
    display: none;
    width: 100%;
    height: 80px;
    z-index: 9;
    background: $white;
    transform: translateY(0px);
    transition: all .3s ease-in-out;

    @include tablet {
        display: flex;
        align-items: center;
    }

    &.scroll_down {
        transform: translateY(-80px);
    }
}

.mobile_header_container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
}

/*=== Remove margin for pages with a header image/video ===*/

.header_image .mobile_header {
    margin-bottom: 0px;
}

/*=== Logo ===*/

.mobile_logo_container {
    width: 200px;

    img {
        width: 100%;
        display: block;
    }
}

/*=== CSS Menu Icon ===*/

.menu_icon {
    position: relative;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    height: 15px;
    width: 20px;

    &:before {
        content: "";
        width: 100%;
        border-bottom: 1px solid $black;
        position: absolute;
        top: 6px;
    }    
}

/*==================================
MOBILE NAVIGATION (Fullscreen mobile overlay)
==================================*/

.mobile_navigation {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: $white;
    z-index: 20;
    display: none;

    .mobile_header {
        position: relative;
    }
}

/*=== Header within the overlay ===*/

.close_menu_icon {
  position: relative;
  display: inline-block;
  width: 17px;
  height: 17px;
  overflow: hidden;
  &:hover {
    &::before, &::after {
      background: $black;
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &.hairline {
    &::before, &::after {
      height: 1px;
    }
  }
}

/*=== Mobile Vertical Navigation List ===*/

.mobile_navigation .content_container {
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

ul#mobile-menu li {
    text-align: center;
    padding-bottom: 20px;
    list-style-type: none;

    &:last-child {
        padding-bottom: 0px;
    }
}

ul#mobile-menu li a {
    text-transform: uppercase;
    font-family: 'LouizeDisplayNP', serif;
    font-size: 23px;
    letter-spacing: .07em;
    color: $black;

    &:hover {
        text-decoration: none;
    }

    @include tablet {
        font-size: 40px;
    }

    @include mobile {
        font-size: 20px;
    }

    // Adjustments for phone in landscape

    @media all and (max-device-width: 736px) and (orientation: landscape) {
        font-size: 13px;
    }
}


/*==================================
PAGE HEADERS
==================================*/

.page_header {
    overflow: hidden;
}

.page_header img {
    display: block;
    width: 100%;

    @include tablet {
        display: block;
        width: auto;
        max-width: none;
        height: 800px;
    }

    @include mobile_landscape {
        height: 600px;
    }
}

.page_header h2 {
    margin-bottom: 50px;
}

/*==================================
HOMEPAGE / NEWS
==================================*/

.page_header #video {
    display: block;
    @include tablet {
        display: none;
    }
}

.page_header .mobile_banner {
    display: none;
    width: 100%;
    height: auto;

    @include tablet {
        display: block;
    }
}

#news_container {
    padding: 50px 0px 0px;
}

/*=== News Filters ===*/ 

ul#mixitup_filters {
    display: block;
    list-style-type: none;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;

    li {
        display: inline-block;
        margin: 0px 15px;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 14px;
        font-family: 'LouizeDisplayNP', serif;
        letter-spacing: .07em;

        @include mobile_landscape {
            margin: 0px 3px;
            font-size: 10px;
        }
    }
}

#mixitup_filters li.active {
    border-bottom: 1px solid;
}

.mixitup_container {
    display: flex;
    flex-flow: row wrap;
    margin: 0px -10px 30px;

    .mix {
        width: 33.33%;
        padding: 0px 10px;
        margin-bottom: 20px;
        position: relative;
        display: none;

        img {
            display: block;
            width: 100%;
        }

        @include tablet {
            width: 50%;
        }

        @include mobile_landscape {
            width: 100%;
        }
    }
}

/*=== Load More ===*/

.loadmore {
    text-align: center;
    margin-bottom: 50px;
}

button.loadmore-button {
    background: none;
    border: 0;
    box-shadow: none;
    text-transform: uppercase;
    color: $black;
    cursor: pointer;
    text-align: center;
    outline: 0;
    font-size: 14px;

    &[disabled="disabled"] {
        opacity: .5;
        cursor: default;
    }

    &:hover {
        text-decoration: underline;
    }
}

button.loadmore-less {
    display: none;
}

/*==================================
DEFAULT PAGE
==================================*/

.page_container {
    overflow: auto;
    margin-bottom: 30px;
}

.page_container .featured_image {
    float: left;
    width: 50%;
    display: inline-block;
    padding-right: 50px;
    margin-bottom: 20px;

    img {
        width: 100%;
    }

    @include tablet {
        width: 100%;
        padding-right: 0px;
    }
}

.page_container .text {
    float: left;
    width: 50%;
    display: inline-block;

    @include tablet {
        width: 100%;
    }
}

.page-template-default .text h3 {
    margin: 0px 0px 30px;
}

/*==================================
CLIENTS
==================================*/

img.client_image {
    width: 33.33%;
    padding: 0px 80px;
    margin-bottom: 30px;

    @include tablet_landscape {
        padding: 0px 40px;
    }

    @include tablet {
        padding: 0px 20px;
    }

    @include mobile_landscape {
        width: 50%;
        padding: 0px 10px;
        margin-bottom: 20px;
    }
}

/*==================================
CONTACT
==================================*/

.page-id-17 .page_content h2 {
    margin-bottom: 10px;
}

.page-id-17 .page_content p {
    @include tablet {
        margin-bottom: 0px;
    }
}

.contact_info {
    padding-bottom: 50px;

    @include tablet {
        padding-bottom: 30px;
    }
}

/*=== Half column adjustments just for contact page ===*/

.page-id-17 .jl_row {
    @include tablet {
        margin: 0px;
    }
}

.page-id-17 .jl_half {
    @include tablet {
        width: 50%;
    }
    @include mobile_landscape {
        width: 100%;
    }
}

/* .page-id-17 .jl_half:nth-child(3), .page-id-17 .jl_half:nth-child(4) {
    margin: 0px;
} 

.page-id-17 .jl_half:nth-child(3) {
    @include mobile_landscape {
        margin: 0px 0px 20px;
    }
} */

/*==================================
INSTAGRAM PAGE WITH 5X4 GRID
==================================*/

#instafeed_page {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 30px;
    margin: 0px -10px;
}

#instafeed_page .instafeed_item {
    width: 20%;
    padding: 0px 10px;
    margin-bottom: 20px;

    img {
        display: block;
        width: 100%;
    }

    @include tablet {
        width: 33.33%;
    }

    @include mobile_landscape {
        width: 50%;
    }

    @include mobile {
        width: 100%;
    }
}

/*==================================
SINGLE NEWS POST
==================================*/

.news_content_container {
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
}

/*=== Header Area w/ Featured Image, Date & Title ===*/

header.news_header {
    margin-bottom: 50px;
}

.news_title {
    text-align: center;
    margin-bottom: 43px;

    h2 {
        margin-bottom: 5px;
    }
}

.news_header .featured_image {
    margin-bottom: 50px;

    img {
        display: block;
        width: 100%;
    }
}

/*=== Page Content ===*/

section.news_content {
    margin-bottom: 100px;

    img {
        width: 100%;
        margin-bottom: 20px;
    }
}

/*==================================
SINGLE POSTS FOOTER (NEWS & CASE STUDIES)
Social share and post navigation
==================================*/

.jl_post_navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    z-index: 10;
    font-size: 14px;
    font-family: 'LouizeDisplayNP', serif;
    letter-spacing: .07em;

    a {
        text-transform: uppercase;
        color: $black;
    }
}

/*=== Next/Previous Navigation ===*/

a.prev_post:hover, a.next_post:hover {
    text-decoration: none;
}

.prev_post img, .next_post img {
    top: 3px;
    position: relative;
    width: 40px;
}

.prev_post span {
    padding-left: 20px;

    @include tablet {
        display: none;
    }
}

.next_post span {
    padding-right: 20px;

    @include tablet {
        display: none;
    }
}

/*=== Social Share ===*/

ul.jl_social_share {
    list-style-type: none;
    text-align: center;
    margin-bottom: -22px;
    font-size: 14px;
    font-family: 'LouizeDisplayNP', serif;
    letter-spacing: .07em;

    li {
        display: inline-block;
        padding: 0px 20px;

        @include tablet {
            padding: 0px 10px;
        }

        @include mobile_landscape {
            padding: 0px 5px;
        }
    }

    @include mobile_landscape {
        margin-bottom: 20px;
    }
}

ul.jl_social_share li a {
    text-transform: uppercase;
    color: $black;

    @include mobile_landscape {
        font-size: 12px;
    }
}

.share_title {
    color: $grey;
    text-transform: uppercase;
    font-size: 14px;

    @include mobile_landscape {
        font-size: 12px;
    }
}

/*==================================
CASE STUDIES
==================================*/

.case_study_thumbnail {
    width: 33.33%;
    padding: 0px 10px;
    margin-bottom: 20px;
    position: relative;

    img {
        display: block;
        width: 100%;
    }

    @include tablet {
        width: 50%;
    }

    @include mobile_landscape {
        width: 100%;
        padding: 0px;
    }
}

.page-template-casestudies_template .jl_overlay {
    h2 {
        font-size: 18px;
    }

    span.category {
        font-size: 13px;
    }
}

/*==================================
SINGLE CASE STUDY
==================================*/

body.single-jl_casestudies {
    font-family: 'eb garamond', serif;
}

body.single-jl_casestudies .jl_row img, body.single-jl_casestudies .jl_half img  {
        width: 100%;
}

.single-jl_casestudies .page_header {
    margin-bottom: 80px;
    position: relative;
    overflow: hidden;

    @include tablet {
        margin-bottom: 50px;
    }
}

.header_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        color: $white;
    }
}

.header_content span.category {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    line-height: 20px;

    @include tablet {
        font-size: 18px;
        line-height: 18px;
    }

    @include mobile_landscape {
        font-size: 16px;
        line-height: 16px;
    }
}

.single-jl_casestudies .jl_row {
    margin: 0px -10px 80px;

    @include tablet {
        margin: 0px 0px 0px;
    }
}

.single-jl_casestudies .jl_half {
    @include tablet {
        margin-bottom: 50px;
    }
}

/*==================================
INSTAGRAM FEED IN FOOTER
==================================*/

.instagram_container {
    padding: 50px 0px;
    border-top: 1px solid $lightgrey;

    h2.center {
        margin-bottom: 50px;
    }

    a {
        font-family: 'LouizeDisplayNP', serif;
        letter-spacing: .07em;
        font-size: 14px;
        color: $black;
        text-transform: uppercase;
    }
}

#instafeed {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 50px;
    margin: 0px -10px;

    @include tablet {
        margin: 0px -5px;
    }
}

#instafeed .instafeed_item {
	width: 20%;
	padding: 0px 10px;

	img {
		display: block;
		width: 100%;
	}

    @include tablet {
        width: 25%;
        margin-bottom: 10px;
        padding: 0px 5px;
    }

    @include mobile_landscape {
        width: 50%;
    }

    &:last-child {
        @include tablet {
            display: none;
        }
    }
}

/*==================================
FOOTER
==================================*/

footer.footer {
	display: flex;
    flex-flow: row wrap;
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    border-top: 1px solid $lightgrey;
    padding: 50px 0px;
    position: relative;
}

.footer_logo {
	width: 25%;

	img {
		width: 150px;
	}

    @include tablet {
        width: 100%;
        margin-bottom: 30px;
    }
}

/*=== Navigation Links ===*/

.footer_nav {
	width: 15%;
    @include tablet {
        width: 50%;
        margin-bottom: 30px;
    }
}

.footer_nav ul {
	list-style-type: none;
}

.footer_nav ul li {
	margin-bottom: 10px;
    line-height: 1.3em;
}

.footer_nav ul li a {
	text-transform: uppercase;
    font-size: 14px;
    font-family: 'LouizeDisplayNP', serif;
    letter-spacing: .07em;
    color: $black;
}

/*=== Mailchimp Form ===*/

.footer_newsletter {
	width: 30%;

	p.header {
	    text-transform: uppercase;
        font-size: 14px;
        font-family: 'LouizeDisplayNP', serif;
        letter-spacing: .07em;
	}

    @include tablet {
        width: 100%;
    }
}

.mc-field-group {
	position: relative;
}

input#mce-EMAIL {
    width: 100%;
    border-radius: 0px;
    border: 1px solid;
    padding: 0px 20px;
    height: 40px;
    letter-spacing: .07em;
    font-size: 11px;
    color: $black;
    -webkit-appearance: none;

    &::-webkit-input-placeholder {
    	color: $black;
        text-transform: uppercase;
    }
}

input#mc-embedded-subscribe {
    position: absolute;
    padding: 0px;
    right: 20px;
    font-size: 11px;
    top: 15px;
    letter-spacing: .07em;
    background: none;
    border: 0px;
    box-shadow: none;
    text-transform: uppercase;
    color: $black;
}

/*=== Back To Top ===*/

img.back-to-top {
    position: absolute;
    width: 23px;
    right: 0;
    cursor: pointer;

    @include tablet {
        top: 54px;
    }

    @include mobile_landscape {
        width: 20px;
    }
}